<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>


  <div id="app">
    <!-- Search section -->
    <div class="search">
      <input
      type="text"
      v-model= "search"
      @keyup="searchFiltered"
      @keyup.enter="searchBtn"
      >
      <button @click="searchBtn" > Enter </button>
    </div>
    <!-- Movie section -->
    <div class="movies">
        <ul class="output-movie-tv">
          <li v-for="movie in movies">
           <h2>Title: {{ movie.title }}</h2>
           <h3>Original title: {{ movie.original_title }}</h3>
           <h3>Language:
             <img :src="`./img/${movie.original_language}.png`"
                    :alt="movie.original_language">
           </h3>
           <div class="votes-stars">
              <i class="fas fa-star"
                v-for="n in voteStars(movie.vote_average)"></i>
              <i class="far fa-star"
                v-for="n in (5 - voteStars(movie.vote_average))"></i>
            </div>
          </li>
        </ul>
    </div>

    <!-- Series section -->
    <div class="series">
        <ul class="output-series-tv">
          <li v-for="serie in series">
           <h2>Title serie: {{ serie.title }}</h2>
           <h3>Original title serie: {{ serie.original_title }}</h3>
           <h3>Language:
             <img :src="`./img/${serie.original_language}.png`"
                    :alt="serie.original_language">
            </h3>
           <div class="votes-stars">
              <i class="fas fa-star"
                v-for="n in voteStars(serie.vote_average)"></i>
              <i class="far fa-star"
                v-for="n in (5 - voteStars(serie.vote_average))"></i>
            </div>
          </li>
        </ul>
    </div>


  </div>


    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Js -->
    <script src="./js/main.js"></script>
</body>
</html>
