<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>


  <div id="app">
    <!-- Search section -->
    <div class="search">
      <input
      type="text"
      v-model= "search"
      @keyup.enter="searchBtn"
      >
      <button @click="searchBtn" > Enter </button>
    </div>
    <!-- Movie section -->
    <div class="movies">
        <ul class="output-movie-tv">
          <li v-for="movie in movies">
           <p>Title: {{ movie.title }}</p>
           <p>Original title: {{ movie.original_title }}</p>
          </li>
        </ul>
    </div>

    <!-- Series section -->
    <div class="series">
        <ul class="output-series-tv">
          <li v-for="serie in series">
           <p>Title serie: {{ serie.title }}</p>
           <p>Original title serie: {{ serie.original_title }}</p>
          </li>
        </ul>
    </div>


  </div>


    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Js -->
    <script src="./js/main.js"></script>
</body>
</html>
